<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.maheshshenoy.ticktoegame" version = "1.0">
   
   <name>Tick Tack Toe</name>
   
   <description>
      Tick Tack Toe Game
   </description>
   
   <author>
      mahesh shenoy
   </author>
   
   <preference name = "permissions" value = "none"/>
   <platform name="android">
   <icon src ="res/icon/android/mipmap-hdpi/ic_launcher.png" 
      qualifier ="hdpi"/>
      
   <icon src ="res/icon/android/mipmap-mdpi/ic_launcher.png" 
     qualifier ="mdpi"/>
      
   <icon src ="res/icon/android/mipmap-xhdpi/ic_launcher.png" 
      qualifier ="xhdpi"/>
      
   <icon src ="res/icon/android/mipmap-xxhdpi/ic_launcher.png" 
     qualifier ="xxhdpi"/>
	  
	   <icon src ="res/icon/android/mipmap-xxxhdpi/ic_launcher.png" 
      qualifier ="xxhdpi"/>
   </platform>
   
   
</widget>